# More Practice with Movies

In this assignment I introduce a third table in the movie database, the release_date table.  Thus in the postgresql database we now have three tables:

* moviecast
* title
* release_date

The tables have the following schema:

```
 Table "public.title"
 Column |  Type  | Modifiers 
--------+--------+-----------
 index  | bigint | 
 title  | text   | 
 year   | bigint | 


  Table "public.moviecast"
  Column   |       Type       | Modifiers 
-----------+------------------+-----------
 index     | bigint           | 
 title     | text             | 
 year      | bigint           | 
 name      | text             | 
 type      | text             | 
 character | text             | 
 n         | double precision | 



 Table "public.release_date"
 Column  |  Type  | Modifiers 
---------+--------+-----------
 index   | bigint | 
 title   | text   | 
 year    | bigint | 
 country | text   | 
 date    | date   | 
 month   | bigint |
 day     | bigint |
 dow     | bigint |
```


### Hints

* Warning, some of these queries can create very large cartesian products!   You may want to use query to help reduce the size of both relations.
* The ``njoin`` operator is more efficient with memory than cartesian product.  You should prefer njoin where you can.

In [1]:
from reframe import Relation
import warnings
warnings.filterwarnings('ignore')
#from sols2 import *

moviecast = Relation('/home/faculty/millbr02/pub/cast.csv',sep=',')
title = Relation('/home/faculty/millbr02/pub/titles.csv',sep=',')
release_date = Relation('/home/faculty/millbr02/pub/release_dates.csv',sep=',')

In [2]:
%load_ext sql

In [3]:
%sql postgresql://osmaah02:@localhost/movies

'Connected: osmaah02@movies'

## 1.  How many movies were released in each country in the year 2014?

Your result should be a table that contains the columns country and year

In [4]:
release_date.query("year == 2014").groupby("country").count("year").rename("count_year", "year")

                    country  year
0               Afghanistan     3
1                   Albania    30
2                   Algeria     3
3                   Andorra     1
4                    Angola     4
5       Antigua and Barbuda     1
6                 Argentina   216
7                   Armenia    16
8                     Aruba    26
9                 Australia   230
10                  Austria   161
11               Azerbaijan   108
12                  Bahamas    17
13                  Bahrain    37
14               Bangladesh    37
15                 Barbados     2
16                  Belarus    28
17                  Belgium   255
18                   Bhutan     2
19                  Bolivia    42
20   Bosnia and Herzegovina    20
21       Bosnia-Herzegovina     1
22                   Brazil   296
23        Brunei Darussalam     5
24                 Bulgaria    95
25             Burkina Faso     1
26                  Burundi     1
27                 Cambodia    79
28                 Cameroon     2
29                   Canada   231
..                      ...   ...
122                 Senegal     1
123                  Serbia   136
124   Serbia and Montenegro     1
125               Singapore   299
126                Slovakia    77
127                Slovenia   113
128            South Africa   156
129             South Korea   241
130                   Spain   227
131               Sri Lanka    16
132                  Sweden   230
133                   Syria    10
134                  Taiwan   234
135              Tajikistan     1
136                Tanzania     1
137                Thailand   180
138                   Tonga     1
139     Trinidad and Tobago    43
140                 Tunisia     4
141                  Turkey   316
142                      UK   550
143                     USA  1310
144                  Uganda     1
145                 Ukraine   142
146    United Arab Emirates   109
147                 Uruguay    81
148              Uzbekistan     2
149               Venezuela    73
150                 Vietnam   143
151                Zimbabwe     3

[152 rows x 2 columns]

In [5]:
%%sql

SELECT country, COUNT(year) FROM release_date
WHERE year = 2014 GROUP BY country;

152 rows affected.

[('Costa Rica', 19),
 ('Cambodia', 79),
 ('Turkey', 316),
 ('Cyprus', 57),
 ('Samoa', 1),
 ('Slovenia', 113),
 ('Vietnam', 143),
 ('Kuwait', 346),
 ('Jamaica', 24),
 ('Antigua and Barbuda', 1),
 ('Cameroon', 2),
 ('Saudi Arabia', 1),
 ('Bosnia and Herzegovina', 20),
 ('Netherlands', 330),
 ('Barbados', 2),
 ('Nigeria', 19),
 ('Lebanon', 114),
 ('Dominican Republic', 38),
 ('Egypt', 67),
 ('Cook Islands', 2),
 ('Maldives', 2),
 ('Guyana', 1),
 ('Australia', 230),
 ('Bahamas', 17),
 ('Georgia', 15),
 ('Uganda', 1),
 ('Argentina', 216),
 ('Slovakia', 77),
 ('Angola', 4),
 ('Burkina Faso', 1),
 ('Oman', 35),
 ('Nicaragua', 4),
 ('Afghanistan', 3),
 ('Czech Republic', 143),
 ('Cuba', 2),
 ('Ghana', 3),
 ('Liechtenstein', 2),
 ('Ethiopia', 8),
 ('Azerbaijan', 108),
 ('Brazil', 296),
 ('Mongolia', 14),
 ('Ivory Coast', 1),
 ('Marshall Islands', 1),
 ('Israel', 221),
 ('Senegal', 1),
 ('Chile', 180),
 ('New Zealand', 170),
 ('Hungary', 233),
 ('USA', 1310),
 ('San Marino', 2),
 ('El Salvador', 11),
 ('Burundi', 1),
 ('Mozambique', 1),
 ('Uzbekistan', 2),
 ('Mexico', 225),
 ('Finland', 165),
 ('Papua New Guinea', 21),
 ('Taiwan', 234),
 ('Sri Lanka', 16),
 ('Estonia', 206),
 ('Thailand', 180),
 ('Latvia', 106),
 ('Montenegro', 15),
 ('Serbia and Montenegro', 1),
 ('Kosovo', 3),
 ('Peru', 188),
 ('Venezuela', 73),
 ('Bhutan', 2),
 ('Bahrain', 37),
 ('Algeria', 3),
 ('Bosnia-Herzegovina', 1),
 ('Kyrgyzstan', 4),
 ('Uruguay', 81),
 ('Malaysia', 159),
 ('Aruba', 26),
 ('Iran', 28),
 ('Macao', 3),
 ('Spain', 227),
 ('Ukraine', 142),
 ('Serbia', 136),
 ('South Korea', 241),
 ('Jordan', 43),
 ('Belarus', 28),
 ('Tonga', 1),
 ('Zimbabwe', 3),
 ('Ireland', 297),
 ('Haiti', 1),
 ('Hong Kong', 247),
 ('Iceland', 82),
 ('Portugal', 272),
 ('Romania', 155),
 ('Liberia', 1),
 ('Trinidad and Tobago', 43),
 ('Puerto Rico', 32),
 ('Canada', 231),
 ('China', 154),
 ('Austria', 161),
 ('Moldova', 3),
 ('Tajikistan', 1),
 ('Panama', 44),
 ('South Africa', 156),
 ('Kenya', 59),
 ('Monaco', 5),
 ('Occupied Palestinian Territory', 2),
 ('Poland', 296),
 ('Republic of Macedonia', 119),
 ('Honduras', 16),
 ('Albania', 30),
 ('Kazakhstan', 104),
 ('Brunei Darussalam', 5),
 ('Croatia', 119),
 ('Luxembourg', 50),
 ('Tunisia', 4),
 ('Sweden', 230),
 ('Italy', 320),
 ('Pakistan', 150),
 ('Armenia', 16),
 ('Greece', 263),
 ('Malta', 35),
 ('India', 621),
 ('UK', 550),
 ('Paraguay', 41),
 ('Myanmar', 5),
 ('Guam', 1),
 ('Philippines', 294),
 ('Qatar', 29),
 ('Morocco', 10),
 ('Andorra', 1),
 ('Greenland', 2),
 ('Indonesia', 103),
 ('Belgium', 255),
 ('Bolivia', 42),
 ('Rwanda', 1),
 ('United Arab Emirates', 109),
 ('Tanzania', 1),
 ('Norway', 232),
 ('Bulgaria', 95),
 ('Fiji', 16),
 ('Guatemala', 13),
 ('Germany', 398),
 ('Singapore', 299),
 ('France', 483),
 ('Iraq', 76),
 ('Colombia', 97),
 ('Japan', 495),
 ('Ecuador', 44),
 ('Nepal', 22),
 ('Russia', 230),
 ('Denmark', 228),
 ('Syria', 10),
 ('Bangladesh', 37),
 ('Lithuania', 156)]

## 2.  Show all of the countries in alphabetical order that released a movie starring clint eastwood after 1975

Your answer should be a single column with the names of the countries.  The country names should not be duplicated.

In [6]:
#n = 1 for a star

In [7]:
#release_date.njoin(moviecast.query("name == 'Clint Eastwood' and n == 1 and year > 1975")).\
#project(["country"]).sort("country")
release_date.njoin(moviecast.query("name == 'Brad Pitt' and n == 1 and year < 2000")).\
project(["country"]).sort("country")

            country
12        Argentina
14        Australia
100         Austria
80          Belgium
5            Brazil
168        Bulgaria
49           Canada
23   Czech Republic
6           Denmark
124         Estonia
7           Finland
11           France
1           Germany
13           Greece
84        Hong Kong
22          Hungary
102         Iceland
167       Indonesia
17          Ireland
120          Israel
8             Italy
3             Japan
164          Kuwait
98         Malaysia
152          Mexico
4       Netherlands
138     New Zealand
16           Norway
66      Philippines
18           Poland
9          Portugal
114       Singapore
21         Slovakia
15      South Korea
10            Spain
2            Sweden
54           Taiwan
132        Thailand
19           Turkey
20               UK
0               USA

In [8]:
%%sql

SELECT DISTINCT country FROM release_date NATURAL JOIN moviecast 
WHERE name = 'Clint Eastwood' AND n = 1 AND year > 1975 ORDER BY country;

65 rows affected.

[('Argentina',),
 ('Australia',),
 ('Austria',),
 ('Belgium',),
 ('Bolivia',),
 ('Brazil',),
 ('Bulgaria',),
 ('Canada',),
 ('Chile',),
 ('Colombia',),
 ('Croatia',),
 ('Czech Republic',),
 ('Denmark',),
 ('Ecuador',),
 ('Egypt',),
 ('Estonia',),
 ('Finland',),
 ('France',),
 ('Germany',),
 ('Greece',),
 ('Hong Kong',),
 ('Hungary',),
 ('Iceland',),
 ('India',),
 ('Ireland',),
 ('Israel',),
 ('Italy',),
 ('Japan',),
 ('Kazakhstan',),
 ('Kuwait',),
 ('Latvia',),
 ('Lebanon',),
 ('Lithuania',),
 ('Malaysia',),
 ('Mexico',),
 ('Netherlands',),
 ('New Zealand',),
 ('Norway',),
 ('Panama',),
 ('Peru',),
 ('Philippines',),
 ('Poland',),
 ('Portugal',),
 ('Puerto Rico',),
 ('Romania',),
 ('Russia',),
 ('Singapore',),
 ('Slovakia',),
 ('Slovenia',),
 ('South Africa',),
 ('South Korea',),
 ('Spain',),
 ('Sweden',),
 ('Switzerland',),
 ('Syria',),
 ('Taiwan',),
 ('Thailand',),
 ('Turkey',),
 ('UK',),
 ('Ukraine',),
 ('United Arab Emirates',),
 ('Uruguay',),
 ('USA',),
 ('Venezuela',),
 ('West Germany',)]

## 3.  Show the name of the lead actor/actress and title of the movie where the movie was released on a sunday in the USA during 2014.

In [9]:
#sunday = 0

In [10]:
moviecast.query("n == 1").njoin(release_date.query("year == 2015 and country == 'USA' and dow == 0")).\
project(["name", "title"]).sort(["title", "name"])

                      name                                   title
27     Krystal Pixie Adams                                $kumbagz
26            Revon Yousif                                    2101
6      Nicholas Ryan Gibbs                     A Horse Called Bear
9            Josh Hamilton                                    Amok
25             Reid Warner                                 Area 51
35            Numa Perrier                     Beautiful Destroyer
17        Jeff (VI) Newton          Becoming Jody II: The Coveting
3       Andrew (II) Cheney                         Beyond the Mask
37            Lois Robbins                               Blowtorch
15        Richard (V) Moss            Breaking Bad Clayton's Diary
16       Richard (VI) Moss            Breaking Bad Clayton's Diary
14     William C. McCallum                           Buffalo (III)
36         Amanda Righetti                 Cats Dancing on Jupiter
4           David Chokachi                              Cyber Case
7        Bernard Glincosky                           Deadly Gamble
11     Thomas (III) Lennon                              Eden Court
28       Yaara Benbenishty                      Exodus to Shanghai
10          Tobias Jelinek                  Fire City: End of Days
20           Jacob Reardon                                  For 20
22            Mike Stanley                          Grateful Films
1              Sam Brittan                              Labyrinths
8              Andrew Gude                            Love Me True
0         Raymond Brenkert                                   Maura
19            Mario Orozco                             Muerto Amor
24               Tony Todd  Night of the Living Dead: Darkest Dawn
23        Parker Stevenson                        Perfect Disguise
21           Kashif Sheikh                              Preydators
18       Samuel (II) Olson                          Pushed Too Far
33            Megan Massie                            Reading Kate
34       Soraya (II) Moore                             Refuge (II)
30            Becki Dennis                          Spin the Plate
32              Debra Lamb          The G-string Horror: Demon Cut
38              Esin Varan                      The Last Apartment
2        Richard (II) Buck                        The Paragon Gate
12   Darren (III) Marshall                 The Sad and Lonely Glow
29  Tiffany Browne-Tavarez                      The Yearly Harvest
13            Maxx Maulion                              Tony Tango
5              Mark Dymond                       UNTITLED (a Film)
31         Lexi Giovagnoli                        Wishing Out Loud

In [11]:
%%sql

SELECT DISTINCT name, title FROM moviecast NATURAL JOIN release_date 
WHERE n = 1 AND year = 2014 AND dow = 0 AND country = 'USA'
ORDER BY name, title;

42 rows affected.

[('April Hollingsworth', 'Prosper'),
 ('Ashley (VII) James', 'Rebound (III)'),
 ('Barry Corbin', 'Mountain Top'),
 ('Brandon Jacobs', 'The Grievance Group'),
 ('Cabrina Collesides', 'The Grievance Group'),
 ('Cameron Bender', 'Find Me'),
 ('Christopher (VI) Hunt', 'Right to Believe'),
 ('Daniel (II) Gilchrist', 'Ghost in da hood'),
 ('Dean Cain', 'Holiday Miracle'),
 ('Donnie Yen', 'Xi you ji: Da nao tian gong'),
 ('Emily Stride', 'Red Kingdom Rising'),
 ('Errol Sack', 'Station 4'),
 ('Esperanza Catubig', 'Acts of God'),
 ('Fabien Garcia', 'Die Fighting'),
 ('Glenn Plummer', 'The Other Side (IV)'),
 ('Jered Allen', 'Down the Chain'),
 ('Jessica Sonneborn', 'Never Open the Door'),
 ('Josh (II) Mitchell', 'Lack of Cockery'),
 ('Julian (II) Hanlan', 'Close Friends: The Movie'),
 ('Kathryn Hunter', "A Midsummer Night's Dream"),
 ('Kelly Delson', 'Walking in LA'),
 ('Kevin Ashworth', 'Look in the Mirror'),
 ('Kimberly (II) Cook', 'A Reckless Phase'),
 ('Lelani Mitchem', 'Inside Room 234'),
 ('Leslee Crisman', 'Beneath Glass Trees'),
 ('Michael Blackson', 'The Bill Collector'),
 ('Miles Snow', 'Fix It in Post'),
 ('Natasha Henstridge', 'The Christmas Switch'),
 ('Nicole Kidman', 'Grace of Monaco'),
 ('Omer Pasha', 'Omer Pasha Music Videos: Volume 2'),
 ('Paul Alexandro', '3:13 Three Thirteen'),
 ('Richard Beatty', 'Sammy-Gate'),
 ('Robin Givens', 'Unspoken Words'),
 ('Rose Cosenza', 'Glamarus'),
 ('Ryan (III) Santiago', 'Slade Collins and the Tree of Life'),
 ('Ryan-Iver Klann', 'Uncle Buddy'),
 ('Samantha Koerner', 'The Riven'),
 ('Shanna Mclaughlin', 'The Summoning (II)'),
 ('Terrence Howard', 'House of Bodies'),
 ('Tom Berenger', 'Lonesome Dove Church'),
 ('Tom Sizemore', 'Unkillable'),
 ('Zach (III) Pappas', 'The Odyssey of Destiny')]

## 4. Show the top 10 actors/actresses that have starred in the most movies released in the USA in the christmas season since (and including) the year 2010

Lets define the Christmas season as the months of November and December.

In [12]:
release_date.query("(month==6 | month==7 | month==8) & country=='Germany' & year>2000").\
njoin(moviecast.query("n==1")).\
groupby(['name']).count("title").sort(['count_title','name'],ascending=False).\
project(['name','count_title']).head(10)

                 name  count_title
184  Dan Castellaneta           21
399       John Cleese           17
206      Denis Lavant           11
579    Michael Herbig            9
540     Mark Wahlberg            6
109         Brad Pitt            6
7        Adam Sandler            6
847        Will Smith            5
735    Sandra Bullock            5
723     Ryan Reynolds            5

In [13]:
%%sql

SELECT name FROM moviecast NATURAL JOIN release_date 
WHERE n = 1 AND month >= 6 AND month <= 8 AND year >= 2010 AND country = 'Germany'
GROUP BY name ORDER BY COUNT(title) DESC LIMIT 10;

10 rows affected.

[('John Cleese',),
 ('Denis Lavant',),
 ('Mark Wahlberg',),
 ('Adam Sandler',),
 ('Henry Cavill',),
 ('Ryan Gosling',),
 ('Sylvester Stallone',),
 ('Paul Rudd',),
 ('Ryan Reynolds',),
 ('Dermot Magennis',)]

## 5.  Show the title of all of the movies that were released in Germany before they were released in the USA in the year 2014.

In [14]:
#CARTESIAN PRODUCT TO BE USED HERE

In [15]:
release_date.query("(country == 'Germany' or country == 'USA') and year == 2014").\
cartesian_product(release_date.query("(country == 'Germany' or country == 'USA') and year == 2014")).\
query("country_x == 'Germany' and title_x == title_y and date_x < date_y").rename("title_x", "title").\
project(["title"])

                                             title
42726                       300: Rise of an Empire
83742                               A Little Chaos
99123            A Million Ways to Die in the West
357182                                    Big Game
370854               Billy Elliot the Musical Live
396489                                     Blended
430669                                     Boyhood
488775         Captain America: The Winter Soldier
540045                        Clouds of Sils Maria
685310                              Der 7bte Zwerg
731453                                      Difret
762215                              Dracula Untold
781014                          Dumb and Dumber To
801522                                   Eden (II)
804940                            Edge of Tomorrow
979258                                    Godzilla
982676                                   Gone Girl
996348                             Grace of Monaco
1133068                            I, Frankenstein
1138195                           Ich seh, Ich seh
1160412                               Interstellar
1283460                                   Kreuzweg
1331312                              Le meraviglie
1334730                          Learning to Drive
1401381                               Love & Mercy
1433852                                 Maleficent
1445815                          Maps to the Stars
1457778                         Maya the Bee Movie
1532974                      Mr. Peabody & Sherman
1582535                                  Neighbors
1592789    Night at the Museum: Secret of the Tomb
1623551                   Northmen - A Viking Saga
1695329                                 Paddington
1703874       Paranormal Activity: The Marked Ones
1738054                               Phoenix (II)
1773943                            Praia do Futuro
1873065                                      Rio 2
1883319                                    RoboCop
1958515                                     Serena
1987568                       She's Funny That Way
2084981                             Step Up All In
2134542                                    Taken 3
2177267                   The Amazing Spider-Man 2
2296897                       The Face of an Angel
2329368                   The Grand Budapest Hotel
2346458  The Hobbit: The Battle of the Five Armies
2360130      The Hunger Games: Mockingjay - Part 1
2413109                           The Little Death
2416527                                   The Loft
2527612                         The Red House (II)
2537866                                The Rewrite
2667750                                Tokyo Tribe
2688258                                      Trash
2719020                          Une nouvelle amie
2809597                 What We Did on Our Holiday
2813015                  What We Do in the Shadows
2855740                              Winter's Tale
2881375                 X-Men: Days of Future Past
2912137                                 Zombeavers

In [16]:
%%sql

SELECT A.title
FROM release_date A, release_date B
WHERE A.country = 'Germany' 
  AND B.country = 'USA' 
  AND A.date < B.date 
  AND A.title = B.title 
  AND A.year = 2014 
  AND B.year = 2014;

59 rows affected.

[('Neighbors',),
 ('Night at the Museum: Secret of the Tomb',),
 ('Northmen - A Viking Saga',),
 ('Paddington',),
 ('Paranormal Activity: The Marked Ones',),
 ('Phoenix (II)',),
 ('Praia do Futuro',),
 ('Rio 2',),
 ('RoboCop',),
 ('Serena',),
 ("She's Funny That Way",),
 ('Step Up All In',),
 ('Taken 3',),
 ('The Amazing Spider-Man 2',),
 ('The Face of an Angel',),
 ('The Grand Budapest Hotel',),
 ('The Hobbit: The Battle of the Five Armies',),
 ('The Hunger Games: Mockingjay - Part 1',),
 ('The Little Death',),
 ('The Loft',),
 ('The Red House (II)',),
 ('The Rewrite',),
 ('Tokyo Tribe',),
 ('Trash',),
 ('Une nouvelle amie',),
 ('What We Did on Our Holiday',),
 ('What We Do in the Shadows',),
 ("Winter's Tale",),
 ('X-Men: Days of Future Past',),
 ('Zombeavers',),
 ('300: Rise of an Empire',),
 ('A Little Chaos',),
 ('A Million Ways to Die in the West',),
 ('Big Game',),
 ('Billy Elliot the Musical Live',),
 ('Blended',),
 ('Boyhood',),
 ('Captain America: The Winter Soldier',),
 ('Clouds of Sils Maria',),
 ('Der 7bte Zwerg',),
 ('Difret',),
 ('Dracula Untold',),
 ('Dumb and Dumber To',),
 ('Eden (II)',),
 ('Edge of Tomorrow',),
 ('Godzilla',),
 ('Gone Girl',),
 ('Grace of Monaco',),
 ('I, Frankenstein',),
 ('Ich seh, Ich seh',),
 ('Interstellar',),
 ('Kreuzweg',),
 ('Le meraviglie',),
 ('Learning to Drive',),
 ('Love & Mercy',),
 ('Maleficent',),
 ('Maps to the Stars',),
 ('Maya the Bee Movie',),
 ('Mr. Peabody & Sherman',)]

In [17]:
%%sql


SELECT name FROM moviecast natural join
        (SELECT title FROM release_date WHERE year = 2010
            EXCEPT
        SELECT title FROM release_date WHERE country = 'USA') AS A

WHERE n > 1
LIMIT 10

10 rows affected.

[('Domenico Cavallo',),
 ('Peppe Cavallo',),
 ('Santo Cavallo',),
 ('Isidoro Chiera',),
 ('Iolanda Manno',),
 ('Cesare Ritorito',),
 ('Bruno Timpano',),
 ('Nazareno Timpano',),
 ('Artemio Vallone',),
 ('Geoff Bell',)]